body {
  background-color: #ECECEC;
}
circle {
  stroke: white;
  stroke-width: 1px;
  opacity: .7;
}
svg {
  margin-left: 12px;
}
#sentiment {
  margin-left: 410px;
}
.btn.active {
  z-index: 0;
}
.label {
  fill: black;
  font-size: 16px;
}
.page-header {
    padding-bottom: 9px;
    margin: 20px 0 0px;
    border-bottom: 1px solid #eee;
}
.page-header small{
  color: black;
  font-size: .6em;
}
.page-header h1 {
  margin-left: 30px;
}
.footer {
  margin: 0px 20px 0px;
}
.no-records {
  text-align: center;
}
