<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who's in the News?</title>
    <link rel="shortcut icon" href="../common/delimited-favicon-v4.ico">
  </head>

  <body>
  <div class = "content-container">
    <div class="page-header">
      <h1>Who's in the News? <small>An RSS News Scraper and Sentiment Analysis Micro-App</small></h1>
    </div>

    <div class="footer">
      <p>Andrew R. Weber | 2015 | <a href="https://www.linkedin.com/in/andrewrweber">LinkedIn | <a href="https://github.com/andrewrweber">GitHub</a></p>
    </div>

   
    <button type="button" class="btn btn-default" id="sentiment"> 
    Toggle Group by Sentiment
    </button>

    <div class="no-records" ng-if="noRecords">
      <h2>Our Robots Are Busy Scraping. Check Back Soon!</h2>
    </div>
    
    <div id="chart"></div>
  

  </div>
  </body>
</html>