<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who's in the News?</title>
    <link rel="shortcut icon" href="../common/delimited-favicon-v4.ico">
  </head>

  <body>

    <div class="page-header">
      <h1>Who's in the News? <small>An RSS News Scraper and Sentiment Analysis Micro-App</small></h1>
    </div>

    <div class="btn-group" data-toggle="buttons">
    <p>
      Click circles to search Google News
    </p>
      <label class="btn btn-default active" id="all">
        <input type="radio" name="options"> View All
      </label>
      <label class="btn btn-default" id="sentiment">
        <input type="radio" name="options"> Group By Sentiment
      </label>

    </div>
    
    <div id="chart"></div>
  
  </body>
</html>